In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np

In [2]:
dataset = pd.read_csv('dataset/new_dataset.csv')
dataset_num = dataset.select_dtypes([int,float])
scaler = StandardScaler()
dataset_scaled = scaler.fit_transform(dataset_num)
dataset_scaled = pd.DataFrame(data=dataset_scaled, columns=dataset_num.columns)

In [3]:
dataset_scaled.to_csv('dataset_scaled.csv', index=False)

In [4]:
dataset_scaled

,repay_ratio,redeem_ratio,times_redeemed,liquidation_count,times_deposit,times_repayed
0,-0.135012,-0.017378,-0.282525,-0.103038,-0.331384,-0.268553
1,-0.135012,-0.017378,-0.282525,-0.103038,-0.331384,-0.268553
2,-0.135012,-0.017378,-0.282525,-0.103038,-0.298088,-0.268553
3,-0.135012,-0.017378,-0.282525,-0.103038,-0.364681,-0.268553
4,-0.135012,-0.017378,-0.282525,-0.103038,-0.364681,-0.268553
...,...,...,...,...,...,...
3447,-0.135012,-0.017378,-0.282525,-0.103038,-0.331384,-0.268553
3448,-1.224394,-0.017378,-0.127053,-0.103038,-0.231495,-0.268553
3449,-0.135012,-0.017378,-0.204789,-0.103038,-0.331384,-0.268553
3450,0.046650,-0.017378,0.106155,-0.103038,0.068175,-0.119570
3451,0.248452,-0.017378,0.883515,-0.103038,1.400041,2.413139

In [5]:
dataset['raw_score'] = (
    0.3 * dataset_scaled['repay_ratio'] +
    0.2 * dataset_scaled['redeem_ratio'] +
    0.2 * dataset_scaled['times_deposit'] +
    0.1 * dataset_scaled['times_redeemed'] +
    0.1 * dataset_scaled['times_repayed'] +
    -0.2 *dataset_scaled['liquidation_count']
)

dataset['credit_score'] = ((dataset['raw_score'] - dataset['raw_score'].min()) /
                      (dataset['raw_score'].max() - dataset['raw_score'].min()) * 1000).astype(int)

score_dict = pd.DataFrame(data = zip(dataset['wallet_address'], dataset['credit_score']), columns=['wallet_address','credit_score'])

score_dict.to_json('credit_scores.json')

print(dataset[['wallet_address', 'credit_score']].head())

                               wallet_address  credit_score
0  0x00000000001accfa9cef68cf5371a23025b6d4b6           293
1  0x000000000051d07a4fb3bd10121a343d85818da6           293
2  0x000000000096026fb41fc39f9875d164bd82e2dc           293
3  0x7f90122bf0700f9e7e1f688fe926940e8839f353           292
4  0x445fe580ef8d70ff569ab36e80c647af338db351           292